.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  :global {
    .ant-form-item-has-error {
      .ant-input,
      .ant-input-affix-wrapper,
      .ant-input-password {
        background-color: $color-error-bg;
        border-color: $color-error-bg;
        box-shadow: none;

        &:hover,
        &:focus,
        &:focus-within {
          background-color: $color-error-bg;
          border-color: $color-error-bg;
          box-shadow: none;
        }
      }

      // Внутренний input внутри Input.Password — прозрачный
      .ant-input-affix-wrapper .ant-input {
        background-color: transparent;
      }
    }


  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;

  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}

.serverError {
  margin: 0;
  color: $color-error;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.link {
  color: $color-link;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $color-link;
    text-decoration: underline;
  }
}