.history {
  height: calc(100dvh - 250px);
}

.history__body {
  margin-top: 50px;
  background: url('@/shared/assets/clean.png') no-repeat center center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  text-align: center;

  span {
    font-size: 24px;
    transform: scaleY(3);
    font-weight: 600;
    color: #c4d4f8;
    display: inline-block;
  }
}

.history__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
 }

.history__title {
  padding-left: 12px;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 16px;
}