.layer-filter {
  position: absolute;
  top: 82px;
  right: 12px;
  width: 100%;
  z-index: 800;
  display: flex;
}

.layer-filter__button {
  width: 48px;
  height: 48px;
  padding: 16px;
  margin-left: auto;
  box-shadow: -2px 2px 7px 1px rgb(0 0 0 / 20%) !important;

  svg {
    flex-shrink: 0;
  }
}

:global{
  .ant-drawer-section {
    border-radius: 24px 24px 0 0;
  }

  .ant-drawer-body {
    padding: 0 !important;
  }

  .ant-drawer-header {
    border: none !important;
  }

  .ant-drawer-title {
    font-weight: 400 !important;
  }
}