// Colors
$color-primary: #ffdd2d;
$color-primary-light: #faf8ec;
$color-primary-hover: #f5d000;
$color-primary-active: #e6c800;
$color-text: #141414;
$color-text-secondary: #9299a2;
$color-text-secondary-hover: #6C6F71;
$color-text-dark-gray: #4d4d4d;
$color-error: #ff3b30;
$color-error-light: #fad6d4;
$color-bg: #fff;
$color-bg-page: #F6F7F8;
$color-bg-card: #FFF;
$color-border-field: #ECF1F7;
$color-placeholder: #6C6F71;
$color-bg-control: #F4F4F4FF;
$color-link: #336FEE;
$color-link-hover: #1F50BA;
$color-error-bg: #FEE0E0;


// Categories
$color-food: #ff7d02;
$color-food-bg: #ffe2cc;
$color-shopping: #0287a9;
$color-shopping-bg: #d5f3ff;
$color-entertainment: #854d9e;
$color-entertainment-bg: #f6dbff;

// Typography
$font-family-base: 'Roboto', -apple-system, blinkmacsystemfont, 'Segoe UI', sans-serif;
$font-size-base: 15px;
$line-height-base: 24px;

// Geometry
$border-radius-base: 12px;

$control-height: 56px;
$control-padding-y: 16px;
$control-padding-x: 15px;
$button-padding-x: 25px;

$card-width: 448px;
$card-radius: 12px;
$card-padding: 32px 24px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 24px;

$tablet: 768px;
$desktop: 1024px;
