.business-layout {
  min-height: 100vh;
  background: $color-bg-page;
  display: flex;
  align-items: stretch;

  &__content {
    flex: 1;
    min-width: 0;
    padding: 45px;
  }
}

@media (max-width: $tablet) {
  .business-layout {
    &__content {
      padding: $spacing-lg;
    }
  }
}